<div class="transaccion-card">
  <div class="card-header">
    <button class="btn-icono"
            (click)="editarTransaccion()">
      Editar
    </button>
    <button class="btn-icono"
            (click)="eliminarTransaccion()">
      Eliminar
    </button>
  </div>
  <div class="card-body">
    <h3>{{ transaccion.descripcion }}</h3>
    <p><strong>Monto:</strong> {{ transaccion.monto }} {{ transaccion.moneda }}</p>
    <p><strong>Categoría:</strong> {{ transaccion.categoria }} | <strong>Tipo:</strong> {{ transaccion.tipo }}</p>
    <p><strong>Fecha:</strong> {{ mostrarFecha(transaccion.fecha) }} hs</p>
  </div>
  <div class="card-footer">
    <button class="btn-secundario"
            (click)="verComprobanteTransaccion()"
            [disabled]="!transaccion.comprobante">
      Ver comprobante
    </button>
  </div>
</div>
