<form (ngSubmit)="onSubmit()" class="form-transaccion">

  <label *ngIf="editingId && tieneComprobanteExistente">
    <input type="checkbox"
           name="eliminarComprobante"
           [(ngModel)]="eliminarComprobante"
           (change)="onEliminarComprobanteChange($event)"
           [disabled]="agregarComprobante" />
    Eliminar comprobante existente
  </label>

  <!-- Mostramos el nombre del archivo actual (si se quiere) -->
  <small *ngIf="editingId && tieneComprobanteExistente && !eliminarComprobante">
    Comprobante actual:
    <button *ngIf="editingId && tieneComprobanteExistente"
            type="button"
            (click)="verComprobanteTransaccion()">
      Ver comprobante
    </button>
  </small>

  <label>
    <input type="checkbox"
           name="agregarComprobante"
           [(ngModel)]="agregarComprobante"
           (change)="onAgregarComprobanteChange($event)"
           [disabled]="eliminarComprobante" />
    {{
     editingId && tieneComprobanteExistente
                ? 'Reemplazar comprobante'
                : 'Agregar comprobante (opcional)'
    }}
  </label>

  <small *ngIf="editingId && !tieneComprobanteExistente && !nuevaTransaccion.comprobante">
    No se encontró un comprobante para esta transacción.
  </small>

  <input type="file"
         name="agregarComprobante"
         (change)="onFileSelected($event)"
         accept=".png,.jpg,.jpeg,.pdf,.txt"
         [disabled]="!agregarComprobante || eliminarComprobante" />

  <select [(ngModel)]="nuevaTransaccion.tipo" name="tipo" required>
    <option value="" disabled selected>Seleccionar tipo</option>
    <option *ngFor="let tipos of tiposTransaccion" [value]="tipos"> {{ tipos }} </option>
  </select>

  <input type="text"
         placeholder="Moneda (UY/U$S)"
         [(ngModel)]="nuevaTransaccion.moneda"
         name="moneda"
         required />

  <label class="label-input">
    Monto:
    <input type="number"
           placeholder="Monto"
           [(ngModel)]="nuevaTransaccion.monto"
           name="monto"
           required />
  </label>

  <label>
    <input type="checkbox"
           name="usarFechaPersonalizada"
           [(ngModel)]="usarFechaPersonalizada"
           (change)="onUsarFechaPersonalizadaChange($event)" />
    Agregar fecha y hora personalizados  :
  </label>

  <input type="datetime-local"
         name="fecha"
         [(ngModel)]="nuevaTransaccion.fecha"
         [disabled]="!usarFechaPersonalizada" />

  <small [hidden]="!usarFechaPersonalizada">
    Haz click en el ícono del calendario por mayor facilidad.
  </small>

  <input type="text"
         placeholder="Descripción (Máx: 200 caracteres)"
         [(ngModel)]="nuevaTransaccion.descripcion"
         name="descripcion"
         required />

  <select [(ngModel)]="nuevaTransaccion.categoria" name="categoria" required>
    <option value="" disabled selected>Seleccionar categoría</option>
    <option *ngFor="let categoria of categorias" [value]="categoria"> {{ categoria }} </option>
  </select>

  <button type="submit" [disabled]="isSubmitting">
    {{ editingId ? 'Guardar cambios' : 'Crear transacción' }}
  </button>
  <button type="button" (click)="cancelarCreacion()">Cancelar</button>
</form>
